---
BasedOnStyle: Microsoft
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
