---
BasedOnStyle: Microsoft

IndentWidth: 2

DerivePointerAlignment: false

PointerAlignment: Left

ColumnLimit: 115

AlignConsecutiveMacros: true

AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
